:root {
    --primary-color: #ff0147;
    --secondary-color: #212429;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
  }
  .content__container {
    color: var(--white);
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .image__container img {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
  }

  .image__container video {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
  }

  .image__container img.image__border {
    border: 2px solid white !important;
    border-radius: 8px !important;
    padding: 4px !important;
    box-sizing: border-box !important;
  }

  .image__container video.image__border {
    border: 2px solid white !important;
    border-radius: 8px !important;
    padding: 4px !important;
    box-sizing: border-box !important;
  }
  
  h1 {
    color: var(--white);
    font-weight: bold;
  }
  
  
