:root {
    --primary-color: #ff0147;
    --secondary-color: #212429;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
  }
  .content__container {
    color: var(--white);
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h1, h2, h5 {
    color: var(--white);
    font-weight: bold;
  }
  .explanation {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }  
  .team__box {
    margin-bottom: 2rem;
  }
  .team__box img {
    height: 150px;
  }

  
  