{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Plaguards</title>
    <!-- <meta content="" name="description" />
    <meta content="" name="keywords" /> -->

    <!-- Favicons -->
    <link href="{% static 'assets/plaguard-logo.png' %}" type="image/png" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />
    

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" />

    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading-spinner.css' %}">
    

  </head>

  <body class="index-page">
    <header id="header" class="header dark-background d-flex flex-column">
      <i class="header-toggle d-xl-none bi bi-list"></i>

      <div class="profile-img">
        <img src="{% static 'assets/plaguard-logo.png' %}" alt="" class="img-fluid rounded-circle" />
      </div>

      <a href="{% url 'index' %}" class="logo d-flex align-items-center justify-content-center">
        <h1 class="sitename">Plaguards</h1>
      </a>

      <div class="social-links text-center">
        <a href="https://github.com/Bread-Yolk/plaguards" target="_blank" class="github"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/company/thebayclub" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://medium.com/@baycorp22 " target="_blank" class="medium"><i class="bi bi-medium"></i></a>
      </div>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li>
            <a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a>
          </li>
          <li>
            <a href="#about"><i class="bi bi-person navicon"></i> About & Motive</a>
          </li>
          <li>
            <a href="#tools"><i class="bi bi-file-earmark-text navicon"></i> Tools</a>
          </li>
          <li>
            <a href="#tutorial"><i class="bi bi-images navicon"></i> Tutorial</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <img src="{% static 'assets/hero-bg.png' %}" alt="" data-aos="fade-in" class="" />

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <h2>Plaguards</h2>
          <p>
            is <span class="typed" data-typed-items="a Powershell Analyzer, an IOC Checker, a Deobfuscator"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span
            ><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
          </p>
          <div class="mt-4" data-aos="fade-up">
            <h3 class="text-wrap text-secondary">Open Source <span class="text-danger-emphasis">PowerShell Deobfuscation</span> and <span class="text-warning-emphasis">IOC Detection Engine</span> for <span class="text-primary">Blue Teams.</span></h3>
            <a href="#tools" class="btn btn-custom mt-4">Try Plaguards</a>
          </div>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- About Section -->
      <section id="about" class="about section dark-background">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>About</h2>
          <p align="justify">
            Plaguards is a cutting-edge security tool built to streamline and automate the deobfuscation of obfuscated PowerShell scripts, empowering security teams to rapidly identify Indicators of Compromise (IOCs) and determine whether they represent valid threats (VT) or false positives (FP). Each analysis is documented in a comprehensive PDF report, designed to provide deep insights and actionable intelligence.</p>

            <br>

          <p align="justify">As a web app, Plaguards offers users the flexibility to conduct powerful, on-demand analysis from anywhere, at any time, making it invaluable to blue teams tasked with responding to complex malware threats. This innovation not only accelerates workflows but also enhances detection accuracy, positioning Plaguards as a vital asset in proactive threat response.</p>
          
          <br>

          <h2>Motivation Behind Plaguards</h2>

          <p align="justify">Plaguards was developed to address a critical need within Incident Response (IR) teams, specifically in handling obfuscated PowerShell scripts—a frequent component in modern malware and ransomware attacks that severely threaten business operations. Despite the availability of numerous deobfuscation tools for JavaScript, there is a notable shortage of static deobfuscation resources for PowerShell, especially amidst the increasing trend of fileless PowerShell-based attacks observed throughout 2024. This gap has left IR teams without effective tools to manage these high-stakes threats.</p>
          <br>
          <p align="justify">Most existing tools only focus on detecting obfuscated PowerShell rather than fully deobfuscating it, leaving a crucial aspect of analysis unaddressed. Plaguards fills this void, enabling automated deobfuscation specifically tailored to PowerShell scripts. It empowers IR teams to swiftly parse through obfuscated lines, identify embedded Indicators of Compromise (IOCs) like IP addresses and URLs, and determine if they represent legitimate threats or false positives.</p>
          <br>
          <p align="justify">Beyond deobfuscation, Plaguards enhances the overall response workflow by providing templated PDF reports, documenting each deobfuscated line and cross-referencing IOCs with threat intelligence. This capability not only aids in real-time threat assessment but also supports IR teams by delivering comprehensive, actionable insights in a clear and organized format.</p>

        </div>
        <!-- End Section Title -->
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-3 justify-content-center">
            <h2 class="text-center mt-4">Meet the team</h2>
            <div class="container text-center mt-4">
              <div class="row">
                <div class="col-md-4">
                  <img src="{% static 'assets/agent1.png' %}" alt="" class="img-fluid rounded-circle" />
                  <h5>Nicolas Saputra Gunawan</h5>
                  <h5>Github Page: <a href="https://github.com/jon-brandy" style="text-decoration:none">jon-brandy</a></h5>
                </div>
                <div class="col-md-4">
                  <img src="{% static 'assets/agent2.png' %}" alt="" class="img-fluid rounded-circle" />
                  <h5>Satya Kusuma</h5>
                  <h5>Github Page: <a href="https://github.com/tkxldk" style="text-decoration:none">tkxldk</a></h5>
                </div>
                <div class="col-md-4">
                  <img src="{% static 'assets/agent3.png' %}" alt="" class="img-fluid rounded-circle" />
                  <h5>Bertrand Redondo Mulyono</h5>
                  <h5>Github Page: <a href="https://github.com/LawsonSchwantz" style="text-decoration:none">LawsonSchwantz</a></h5>
                </div>
              </div>
              <!-- <div class="row mt-4">
                <div class="col-md-4 offset-md-4">
                  <img src="{% static 'assets/pocolo.png' %}" alt="" class="img-fluid rounded-circle" />
                  <h5>Pocolo</h5>
                  <p>Plaguards Mascot</p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <!-- /About Section -->

      <!-- tools Section -->
      <section id="tools" class="tools section dark-background">
        <!-- Section Title -->
        <div id="notification" class="position-fixed top-0 end-0 p-3 mt-2 me-5" style="z-index: 11"></div>

        <!-- <div class="loading">Load</div> -->
        <div id="loading-overlay" style="display: none;">
          <div class="spinner"></div>
        </div>

        <div class="container section-title" data-aos="fade-up">
          <h2>Tools</h2>
          <ol>
            <li>
              <p class="text-warning">Search IOC (Indicators of Compromise)</p>
              <p>Search for specific <b>IOC details</b>. by entering a value such as a hash, IP address, domain, or signature. The system will provide a summary of the input.</p>
            </li>
            <li>
              <p class="text-warning">Deobfuscate Powershell Script</p>
              <p>Upload <b>.ps1</b> files to remove obfuscation layers and retrieve the original, readable script content.</p>
            </li>
          </ol>
        </div>
        <!-- End Section Title -->        

        <div class="container">
          <div class="row g-2">
            <!-- Card for IOC Search -->
            <div class="col-md-6">
              <div class="card h-100">
                <!-- <img src="../static/assets/ioc-checker-pix.gif" class="card-img-top" style="width:500px;" alt="..."> -->

                <div class="card-body">
                  <h5 class="card-title">Search IOC</h5>
                  <p class="card-text">Upload IOC to check summary</p>
                  <form id="search-form" method="POST" action="{% url 'search' %}" class="input-group">
                    {% csrf_token %}
                    <span class="input-group-text"><i class="ri-search-line"></i></span>
                    <input type="text" class="form-control" name="search-bar" placeholder="Search (ex: hash | ip | domain | signature <value>)" />
                    <button type="submit" class="btn btn-dark"><i class="ri-arrow-right-line"></i></button>
                  </form>
                </div>
              </div>
            </div>

            <!-- Card for File Upload -->
            <div class="col-md-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Deobfuscate Powershell Script</h5>
                  <p class="card-text">Upload file to deobfuscate (.ps1 or .txt)</p>
                  <form id="file-upload-form" method="POST" enctype="multipart/form-data" action="{% url 'file_upload' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      <input type="file" class="form-control" id="upload-file" name="file" />
                    </div>
                    <button class="btn btn-dark w-100" type="submit">Upload File</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /tools Section -->

      <!-- Tutorial Section -->
      <section id="tutorial" class="tutorial section dark-background">
        <div class="container section-title" data-aos="fade-up">
          <h2>Tutorial</h2>
        </div>
        <div class="container">

          <div class="row g-4">
            <!-- Card for IOC Checker -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header bg-dark text-white">
                  <h3 class="tutorial-h3 mb-0">IOC Checker</h3>
                </div>
                <div class="card-body bg-dark text-white">
                  <p>1. Open tools menu or "Try Plaguards" button in home page.</p>
                  <img src="{% static 'assets/toolsmenu.jpg' %}" alt="Step 1" class="img-fluid mb-4 image__border" />
                  <p>2. On the search bar, input parameters that are server needed.</p>
                  <img src="{% static 'assets/searchbarmenu.jpg' %}" alt="Step 2a" class="img-fluid mb-4 image__border" />
                  <p>3. Click the search and wait for the results.</p>
                  <img src="{% static 'assets/waitresults.jpg' %}" alt="Step 3" class="img-fluid mb-4 image__border" />
                  <p>4. Open the PDF Report. Please note to download it within 5 minutes.</p>
                  <img src="{% static 'assets/openpdf.jpg' %}" alt="Step 4" class="img-fluid mb-4 image__border" />
                  <p>5. You will see your IoC data if exist.</p>
                  <img src="{% static 'assets/iocreport.jpg' %}" alt="Step 5a" class="img-fluid mb-4 image__border" />
                  <h4 class="tutorial-h4 mt-5">Demo Video:</h4>
                  <video controls class="img-fluid mb-4 image__border">
                    <source src="{% static 'assets/IOCCheckervideo.mp4' %}" type="video/mp4" />
                  </video>
                </div>
              </div>
            </div>

            <!-- Card for Deobfuscate Code -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header bg-dark text-white">
                  <h3 class="tutorial-h3 mb-0">Deobfuscate Code</h3>
                </div>
                <div class="card-body bg-dark text-white">
                  <p>1. Open tools menu or "Try Plaguards" button in home page.</p>
                  <img src="{% static 'assets/toolsmenu.jpg' %}" alt="Step 1" class="img-fluid mb-4 image__border" />
                  <p>2. Upload the file code in .ps1 or .txt format.</p>
                  <img src="{% static 'assets/fileuploadmenu.jpg' %}" alt="Step 2b" class="img-fluid mb-4 image__border" />
                  <p>3. Click the upload button and wait for the results.</p>
                  <img src="{% static 'assets/waitresults.jpg' %}" alt="Step 3" class="img-fluid mb-4 image__border" />
                  <p>4. Open the PDF Report and download it within 5 minutes.</p>
                  <img src="{% static 'assets/openpdf.jpg' %}" alt="Step 4" class="img-fluid mb-4 image__border" />
                  <p>5. You will see your code deobfuscation results.</p>
                  <img src="{% static 'assets/deobfusreport.jpg' %}" alt="Step 5b" class="img-fluid mb-4 image__border" />
                  <h4 class="tutorial-h4 mt-5">Demo Video:</h4>
                  <video controls class="img-fluid mb-4 image__border">
                    <source src="{% static 'assets/Deobfuscationvideo.mp4' %}" type="video/mp4" />
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Tutorial Section -->

    <footer id="footer" class="footer position-relative dark-background">
      <div class="container">
        <div class="copyright text-center">
          <p>© <span>Copyright 2024</span> <strong class="px-1 sitename">Plaguards</strong> <span>All Rights Reserved</span></p>
        </div>
        <div class="credits">
          Powered by <a href="https://github.com/Bread-Yolk">BAY</a>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/custom-scripts.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/loading-spinner.js' %}"></script>
  </body>
</html>
