{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plaguards</title>
    <link rel="icon" href="{% static 'assets/1.0.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-upload.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script-upload.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/scrollreveal" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" />
    
    <style>
      .notification {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 15px;
        border-radius: 5px;
        display: none;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .notification.show {
        display: block;
      }

      .notification.error {
        background-color: #f44336;
        color: white;
      }

      .notification.success {
        background-color: #4caf50;
        color: white;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="{% url 'index' %}">
            <img src="{% static 'assets/1.0.png' %}" alt="logo" />
            <span>Plaguards</span>
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'tools' %}">Tools</a></li>
        <li><a href="{% url 'tutorial' %}">Tutorial</a></li>
        <li><a href="{% url 'about' %}">About us</a></li>
      </ul>
    </nav>

    <div id="notification" class="notification"></div>

    <div class="content__container">
      <p>Upload IOC to check summary</p>
      <div class="search-container">
        <form id="search-form" method="POST" action="{% url 'search' %}">
          {% csrf_token %}
          <div class="search-wrapper">
            <i class="ri-search-line search-icon"></i>
            <input type="text" name="search-bar" id="search-bar" placeholder="Search (ex: hash | ip | domain | url | signature <value>)" class="search-bar" />
            <button type="submit" class="search-button">
              <i class="ri-arrow-right-line"></i>
            </button>
          </div>
        </form>
      </div>

      <br />

      <p>Upload file to deobfuscate (.ps1)</p>
      <form id="file-upload-form" method="POST" enctype="multipart/form-data" action="{% url 'file_upload' %}">
        <div class="upload-content">
            {% csrf_token %}
            <label class="upload-section" id="drop-zone">
              <input type="file" id="upload-file" name="file" hidden />
              <div id="file-view">
                <i class="ri-upload-2-line"></i>
                <p id="file-name">Drag and Drop or Click Here to Upload File</p>
              </div>
            </label>
        </div>
        <br>
          <button class="upload-button" type="submit">
            <span>Upload File</span>
          </button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function showNotification(message, type) {
        var notification = $("#notification");
        notification.text(message);
        notification.removeClass("error success").addClass(type);
        notification.addClass("show");
        setTimeout(function () {
          notification.removeClass("show");
        }, 3000); // Hide after 3 seconds
      }

      $(document).ready(function () {
        
        // Search Form Submission
        $("#search-form").on("submit", function (e) {
          e.preventDefault();
          $.ajax({
            url: $(this).attr("action"),
            type: "POST",
            data: $(this).serialize(),
            dataType: "json",
            success: function (response) {
              if (response.status === "success") {
                showNotification(response.message, "success");
                window.location.href = "/redirect_result?pdf_url=" + encodeURIComponent(response.pdf_url);
              } else {
                showNotification(response.message, "error");
              }
            },
            error: function () {
              showNotification("An error occurred. Please try again.", "error");
            },
          });
        });

        // Capture file selection and display file name
        $("#upload-file").on("change", function () {
          var file = this.files[0];
          if (file) {
            $("#file-name").text(file.name);
          } else {
            $("#file-name").text("Drag and Drop or Click Here to Upload File");
          }
        });

        // File Upload Form Submission
        $("#file-upload-form").on("submit", function (e) {
          e.preventDefault();
          var formData = new FormData(this);

          $.ajax({
            url: $(this).attr("action"),
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (response) {
              if (response.status === "success") {
                showNotification(response.message, "success");
                window.location.href = "/redirect_result?pdf_url=" + encodeURIComponent(response.pdf_url);
              } else {
                showNotification(response.message, "error");
              }
            },
            error: function () {
              showNotification("An error occurred. Please try again.", "error");
            },
          });
        });
      });
    </script>
  </body>
</html>
