{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plaguards</title>
    <link rel="icon" href="{% static 'assets/1.0.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-upload.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script-upload.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/scrollreveal" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" />
    <style>
      .notification {
        position: fixed;
        bottom: 20px; /* Keeps the notification at the bottom */
        right: 20px; /* Changed from left to right to place it on the right side */
        padding: 15px;
        border-radius: 5px;
        display: none;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .notification.show {
        display: block;
      }

      .notification.error {
        background-color: #f44336;
        color: white;
      }

      .notification.success {
        background-color: #4caf50;
        color: white;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="{% url 'index' %}">
            <img src="{% static 'assets/1.0.png' %}" alt="logo" />
            <span>Plaguards</span>
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'tools' %}">Tools</a></li>
        <li><a href="{% url 'tutorial' %}">Tutorial</a></li>
        <li><a href="{% url 'about' %}">About us</a></li>
      </ul>
    </nav>

    <div id="notification" class="notification"></div>

    <div class="content__container">
      <p>Upload IOC to check summary</p>
      <div class="search-container">
        <form id="search-form" method="POST" action="{% url 'search' %}">
          {% csrf_token %}
          <div class="search-wrapper">
            <i class="ri-search-line search-icon"></i>
            <input type="text" name="search-bar" id="search-bar" placeholder="Search (ex: hash | ip | domain | url | signature <value>)" class="search-bar" />
            <button type="submit" class="search-button">
              <i class="ri-arrow-right-line"></i>
            </button>
          </div>
        </form>
      </div>

      <br />

      <p>Upload file to deobfuscate (.ps1)</p>
      <!-- 
      <div class="upload-container">
        <div class="upload-section" id="drop-zone">
          <i class="ri-upload-2-line"></i>
          <label for="file-upload" class="custom-file-upload"> Drag & Drop or Click to Upload File </label>
          <input id="file-upload" type="file" />
        </div>
      </div> 
      -->

      <div class="upload-container">
        <label class="upload-section" id="drop-zone">
          <input type="file" id="upload-file" hidden />
          <div id="file-view">
            <i class="ri-upload-2-line"> </i>
            <p>Drag and Drop or Click Here to Upload File</p>
          </div>
        </label>
      </div>

      <!-- <i class="ri-download-2-line"></i> -->

      <!-- 
      <div class="search-container">
        <i class="ri-search-line"></i>
        <input type="text" placeholder="Search..." class="search-bar" />
      </div> 
      -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function showNotification(message, type) {
        var notification = $("#notification");
        notification.text(message);
        notification.removeClass("error success").addClass(type);
        notification.addClass("show");
        setTimeout(function () {
          notification.removeClass("show");
        }, 3000); // Hide after 3 seconds
      }

      $(document).ready(function () {
        $("#search-form").on("submit", function (e) {
          e.preventDefault();

          $.ajax({
            url: $(this).attr("action"),
            type: "POST",
            data: $(this).serialize(),
            dataType: "json",
            success: function (response) {
              if (response.status === "success") {
                showNotification(response.message, "success");
                // If you want to redirect to the PDF, uncomment the next line
                window.location.href = '../' + response.pdf_url;
              } else {
                showNotification(response.message, "error");
              }
            },
            error: function () {
              showNotification("An error occurred. Please try again.", "error");
            },
          });
        });
      });
    </script>
  </body>
</html>
