{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plaguards</title>
    <link rel="icon" href="{% static 'assets/1.0.png' %}" type="image/png" />
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'index' %}">
          <img src="{% static 'assets/1.0.png' %}" alt="logo" />
          <span>Plaguards</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tools' %}">Tools</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tutorial' %}">Tutorial</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About us</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content Section -->
    <div class="container my-5">
      <h1 class="text-center mb-4">Tutorial</h1>
      
      <div class="content__container">
        <p>1. Open tools menu or "Try Plaguards" button in home page.</p>
        <div class="image__container mb-4">
          <img src="{% static 'assets/toolsmenu.jpg' %}" alt="Step 1" class="img-fluid image__border" />
        </div>
        <p>2a. For IOC Checker Feature, on the search bar, input parameters that are server needed (ex: hash &lt;value&gt;, signature &lt;value&gt;, domain &lt;value&gt;, ip &lt;value&gt;).</p>
        <p>Note: Please add space between the initial parameter and the value.</p>
        <div class="image__container mb-4">
          <img src="{% static 'assets/searchbarmenu.jpg' %}" alt="Step 2a" class="img-fluid image__border" />
        </div>
        <p>2b. For Deobfuscation Feature, on the upload section, upload the file code that you want to analyze in .ps1 or .txt format.</p>
        <div class="image__container mb-4">
          <img src="{% static 'assets/fileuploadmenu.jpg' %}" alt="Step 2b" class="img-fluid image__border" />
        </div>
        <p>3. Click the search (for IOC Checker) or file upload menu (for Deobfusaction feature) and wait for the results.</p>
        <div class="image__container mb-4">
          <img src="{% static 'assets/waitresults.jpg' %}" alt="Step 3" class="img-fluid image__border" />
        </div>
        <p>4. Open the PDF Report</p>
        <div class="image__container mb-4">
          <img src="{% static 'assets/openpdf.jpg' %}" alt="Step 4" class="img-fluid image__border" />
        </div>
        <p>5a. For IOC Checker Feature, You will see your IoC data if exist.</p>
        <div class="image__container mb-4">
          <img src="{% static 'assets/iocreport.jpg' %}" alt="Step 5a" class="img-fluid image__border" />
        </div>
        <p>5b. For Deobfuscation Feature, you will see your code deobfuscation result with domain and IP IoC data if exist.</p>
        <div class="image__container mb-4">
          <img src="{% static 'assets/deobfusreport.jpg' %}" alt="Step 5b" class="img-fluid image__border" />
        </div>
        
        <h4>If you still do not understand the instructions above, please watch the video below.</h4>

        <br>

        <h5>IOC Checker Feature Demo Video:</h5>
        <div class="image__container mb-4">
          <video controls class="img-fluid image__border"> 
          <source src="{% static 'assets/IOCCheckervideo.mp4' %}" alt="IOC Checker Demo Video" type="video/mp4"/>
        </video>
        </div>

        <h5>Deobfuscation Feature Demo Video:</h5>
        <div class="image__container mb-4">
          <video controls class="img-fluid image__border">
          <source src="{% static 'assets/Deobfuscationvideo.mp4' %}" alt="Deobfuscation Feature Demo Video" type="video/mp4"/>
        </video>
        </div>

      </div>
    </div>

    {% bootstrap_javascript %}
  </body>
</html>
